.chart {
    position: relative;
    display: inline-block;
    width: 265px;
    height: 265px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    display: inline-block;
    line-height: 265px;
    z-index: 2;
    font-size: 1.8em;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}