/.idea
/vendor
/tests
frontend/web/assets
/nbproject/private/
*.xml

*.properties

common/config/main-local.php

common/config/params-local.php

console/config/main-local.php

frontend/config/main-local.php

frontend/config/params-local.php
