RewriteEngine on

#Rewrite on Alias delete when production
RewriteBase /intranet2.back/

# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule . index.php
